<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.UserMapper">
    <select id="getInfo" parameterType="com.admin.dto.ParamsDTO" resultType="com.admin.dto.User">
        select * from user where id = #{id}
    </select>
</mapper>